<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<!-- Заголовок веб-страницы -->
    <title>Загрузка CSV файла</title>
	
	<!-- Подключение стилей CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<! --- Для работы локально (СТИЛИ ПОМЕСТИТЬ ПОТОМ ОБРАТНО В STATIC--- >
	<link rel="stylesheet" href="style.css">
</head>
	
<!-- Подключение скриптов JS -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
	
<body>

<!-- Главный контейнер -->
<div class="container">

    <div class="top-bar">
		<!-- Кнопка назад -->
        <a href="{{ url_for('index') }}" class="btn-back">← Вернуться назад</a>
		<!-- Заголовок -->
        <h2 class="secondary_title">Загрузка CSV-файла</h2>
    </div>
	<!-- Текст - Инструкция для пользователей -->
    <p class="info-text">
        Выберите CSV файл, содержащий колонку <b>"text"</b>.<br>  
        После загрузки нажмите кнопку <b>"Классифицировать"</b>.
    </p>
	<!-- После для загрузки датасета -->
    <form action="/predict_csv" method="POST" enctype="multipart/form-data">

        <div class="box">
            <h3>Выберите CSV файл</h3>
            <input type="file" name="csv_file" required>
		</div><br>
		<!-- Кнопка -->
		<div class="button-group">
        <button type="submit" class="btn-classify">Классифицировать</button>
		</div>
    </form>

</div>

</body>
</html>
