<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<!-- Заголовок веб-страницы -->
    <title>Ручной ввод текста</title>
	
	<!-- Подключение стилей CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<! --- Для работы локально (СТИЛИ ПОМЕСТИТЬ ПОТОМ ОБРАТНО В STATIC--- >
	<link rel="stylesheet" href="style.css">
</head>
	
<!-- Подключение скриптов JS -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
	
<body>
<!-- Главный контейнер -->
<div class="container">

    <div class="top-bar">
		<!-- Кнопка назад -->
        <a href="{{ url_for('index') }}" class="btn-back">← Вернуться назад</a>
        <h2>Ручной ввод статьи</h2>
    </div>
	<!-- Текст - Инструкция для пользователей -->
    <p class="info-text">
        Введите заголовок и текст статьи.<br> Минимум 200 символов для текста статьи и 10 для заголовка.
    </p>
	<!-- Форма для заполнения -->
    <form action="/predict_text" method="POST" enctype="multipart/form-data">

        <div class="box">
			<!-- Поле заголовка статьи -->
            <input type="text" id="manual_title" name="manual_title" placeholder="Введите заголовок статьи">
			<!-- Ошибка -->
			<p id="title_warning" class="warning hidden">Введите заголовок статьи.</p>

        </div>

        <div class="box">
			<!-- Поле текста статьи -->
            <textarea id="manual_text" name="manual_text" rows="8"
                      placeholder="Введите текст статьи"></textarea>

		<!-- Текстовый счётчик -->
		<div class="char-info">
  		<small id="char_count">0</small> символов (минимум 200)
		</div>
			<!-- Ошибка -->
            <p id="warning_text" class="warning hidden">
                Текст должен быть минимум 200 символов.
            </p>
        </div>
		<!-- Кнопка -->
		<div class="button-group">
        <button id="btn-submit" type="submit" class="btn-classify" disabled>
            Классифицировать
        </button>
		</div>
    </form>

</div>


</body>
</html>
